#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica, sans-serif;
}
#btnContiner{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: aliceblue;
    background-color:rgb(103, 198, 111);
    border-radius: 5px;
    cursor: pointer;
    transition: .40s;
}
.buttons:hover{
    background-color: rgb(62, 135, 68);
}